body { 
    height: 100vh;
    background: white;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#button {
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 5px;
    margin: 1%;
}
#box{
    background-color: rgb(59, 180, 255);
    color: white;
    font-size: 18px;
    text-align: center;
}
#option{
    background-color: rgb(44, 39, 40);
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 5%;
}
.table{
    position: absolute;
    right: 40%;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 800px;
    border: 2px solid black;
    background-color: burlywood;
}